body {
  display: flex;
  justify-content: center;
}


.axis line{
  color: gray;
  stroke: #d3d3d3;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #eaeaea;
}

.axis text{
  fill: #d3d3d3;

}

.axis {
  font-size: 14px;
}

.selected {
  r:13;
  stroke: #fffff2;
}

svg {
  font: 'roboto';
  font-size: 12px;
  margin: auto;
}


